<!DOCTYPE html>
<html>
  <head>
    <title> <%= application_name_cn %> </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="resources/${icon_name}"/>
    <style type="text/css">
       #fm{
           margin:0;
           padding:10px 30px;
       }
       .ftitle{
           font-size:14px;
           font-weight:bold;
           padding:5px 0;
           margin-bottom:10px;
           border-bottom:1px solid #ccc;
       }
       .fitem{
           margin-bottom:5px;
           text-align:center;
       }
       .fitem label{
            text-align:right;
           display:inline-block;
           width:100px;
           font-weight:bold;
       }

       #dlg-buttons{
        text-align:right;
        margin-right:10px 30px 0 0 ;
       }

       .fitem textarea{
          margin:5px 0 0 17%;
          width:200px;
          height:60px;
          display:block;
       }

       #dlg{
        width:350px;
        height:280px;
       }

       #dlg .ftitle{
        margin:5px 10px 5px 10px;
        padding:4px 0px 4px 14px;
       }

       #imagesShowDiv{
            overflow:auto;
            height:100%;
            background:#fafafa;
        }
        
        #imagesShowDiv ul{
            list-style:none;
            margin:0 auto 0 25px;
            padding:0px;
            background: yellow;
        }
        #imagesShowDiv li{
            display:inline;
            float:left;
            margin:10px;
        }
        #imagesShowDiv .item{
            display:block;
            text-align: center;
        }
        .removeScrollImageP{
            text-decoration:none;
        }
        #imagesShowDiv .item img{
            border:1px solid #333;
            width:150px;
            height:150px;
        }
        #imagesShowDiv .item p{
            margin:0;
            font-weight:bold;
            text-align:center;
            color:#c3c3c3;
        }
        
    </style>

    <%- include ../common/jqueryEasyUI.js.ejs %>

    <script type="text/javascript">
      
      /***
       * author: charmyin
       * datetime: 2015-5-1
       * title: Cameras manage ~
       ***/
      /********************************************************Initial the page*****************************************************/
      $(function(){
        //Disable cache
        jQuery.ajaxSetup({ cache: false });
        //Load grid
        $("#dataGrid").datagrid({
            url:'/front/productInfo/searchList',
            method:'POST',
            toolbar:'#toolbar',
            pagination:true,
            collapsible:true,
            title:"产品信息列表",
            rownumbers:true,
            queryParams:{userrole:1},
            loadFilter:function(data){
              //if data is wrong or failed, show error message
              if(!data.success){
                $.messager.show({
                        title: '提示<span style="color:red;">!</span>',
                          msg: "<div style='text-align:center;margin-top:10px;'>"+data.msg+"</div>",
                          style:{
                          right:'',
                          top:document.body.scrollTop+document.documentElement.scrollTop,
                          bottom:''
                        }
                      });
                return {
                  page:1,
                  total:0,
                  rowsCount:10,
                  rows:[]
                };
              }else{
                return data;
              }
            },
            singleSelect:true,
            pageSize:10,
            pageList:[10,20,30,40,50],
            columns:[[
              //{field:'ck', checkbox:true},
              {field:'productName', title:'产品名称', width:120},
              {field:'productDescription', title:'产品描述', width:120},
              {field:'productCategory', title:'产品类别', width:120},
              {field:'productOriginPlace', title:'产品产地', width:120},
              {field:'linkToBuy', title:'购买链接', width:120},
              {field:'user', title:'所属用户', width:120},
              {field:'indexImgIds', title:'展示图片集合', width:120},
              {field:'browseCount', title:'浏览次数', width:120},
              {field:'praisedUsers', title:'点赞次数', width:120},
              {field:'scrollPics', title:'图片轮播', width:120,
                formatter: function(value,row,index){
                  return "<a href='javascript:appendRowOfImageScroll("+index+")'>管理图片轮播</a>";  
                }
              },
              {field:'timelapseVideos', title:'缩时摄像', width:120,
                formatter: function(value,row,index){
                  return "<a href='javascript:showVideoManage("+index+")'>管理缩时摄影</a>";  
                }
              },
              {field:'realtimePics', title:'实时图片', width:120,
                formatter: function(value,row,index){
                  return "<a href='javascript:alert(0000)'>管理实时图片</a>";  
                }
              },
              {field:'_id', title:'编号', hidden:true}
            ]],
            onLoadError: function(msge){
                $.messager.alert('错误信息','服务器连接已断开或服务器内部错误！','error');
            }
        });

        //图片轮播管理
        $("#dgCurrentAppendRowValues").datagrid({
            title:"轮播图片列表",
            singleSelect:true,
            toolbar:"#appendRowOfImageScrollToolbar",
            columns:[[
              //{field:'ck', checkbox:true},
              {field:'title', title:'标题', width:120},
              {field:'orderIndex', title:'Tab排序', width:120},
              {field:'description', title:'描述', width:220},
              {field:'picIds', title:'图片集合', hidden:true},
              {field:'tabType', title:'tabType', hidden:true},
              {field:'operation', title:'操作', width:120, formatter: function(value,row,index){
                  return "<a href='javascript:managePictureGroup("+index+")'>编辑</a>";  
                }
              },
              {field:'tabType', title:'tab类型', hidden:true}
            ]]
        });

        //视频管理
        $("#dgVideoTabManage").datagrid({
            title:"轮播图片列表",
            singleSelect:true,
            toolbar:"#appendRowOfImageScrollToolbar",
            columns:[[
              //{field:'ck', checkbox:true},
              {field:'title', title:'标题', width:120},
              {field:'orderIndex', title:'Tab排序', width:120},
              {field:'description', title:'描述', width:220},
              {field:'picIds', title:'图片集合', hidden:true},
              {field:'tabType', title:'tabType', hidden:true},
              {field:'operation', title:'操作', width:120, formatter: function(value,row,index){
                  return "<a href='javascript:managePictureGroup("+index+")'>编辑</a>";  
                }
              },
              {field:'tabType', title:'tab类型', hidden:true}
            ]]
        });
        



        //上传图片
        $('#uploadPicForm').form({
            success:function(data){
              var dataObj = eval("("+data+")");
              appendScrollImagesToDiv(dataObj.file.name);
              //$.messager.alert('Info', data, 'info');
            }
        });
      });
  /*********************初始化结束***************************/
    //应用拖动拽入变换位置功能
    
    function applyDragToChangePosition(target){
      $(target).draggable({
            revert:true,
            proxy:'clone',
            onStartDrag:function(){
                $(this).hide(500);
                $(this).draggable('options').cursor = 'not-allowed';
                $(this).draggable('proxy').css('z-index',10);
            },
            onStopDrag:function(){
                $(this).show(500);
                $(this).draggable('options').cursor='move';
            }
        });

        $(target).droppable({
            onDragEnter:function(e,source){
              $(source).draggable('options').cursor='auto';
              // $(this).css("background")
            },
            onDragLeave:function(e,source){
                $(source).draggable('options').cursor='not-allowed';
            },
            onDrop:function(e,source){
                $(source).insertBefore(e.target);
                //var name = $(source).find('p:eq(0)').html();
                //var price = $(source).find('p:eq(1)').html();
                //addProduct(name, parseFloat(price.split('$')[1]));
            }
        });
    }
        

    //载入轮播图片
    function appendScrollImagesToDiv(imageName){

      var srcPath = '<li><div class="item"><img src="/images/'+imageName+'"/><div><p class="removeScrollImageP"><a href="javascript:void(0)" class="easyui-linkbutton">删除</a></p></div></div><input type="hidden" name="picIds" value="'+imageName+'"/></li>';
      var srcPathObj=$(srcPath);
      srcPathObj.find(".easyui-linkbutton").linkbutton({
          iconCls: 'icon-cancel',
          onClick:function(){
            deleteScrollImage(this);
          }
      });
      $("#imagesShowDiv ul").append(srcPathObj);

      //应用拖动变换位置效果
      applyDragToChangePosition(srcPathObj);
    }
    //删除当前的滚动图片
    function deleteScrollImage(target){
      $(target).parent().parent().parent().parent().remove();
    }

    //载入轮播图片grid中的数据
    function appendRowOfImageScroll(gdIndex){
      var rowDatas = $("#dataGrid").datagrid("getRows")[gdIndex].scrollPics;
      $('#appendRowOfImageScroll').window('open');
       //清除图片数据
      $('#dgCurrentAppendRowValues').datagrid('loadData',[]);
      //载入图片数据
      for(var i=0; i<rowDatas.length; i++)
        $('#dgCurrentAppendRowValues').datagrid('appendRow',rowDatas[i]);
    }
    //载入轮播图片Grid中，点击图片集合管理后展现的grid中的数据
    var managePictureGroupGdIndex;

    function managePictureGroup(gdIndex){
      managePictureGroupGdIndex = gdIndex;
      $("#imageScrollImageGroupForm").form("clear");
      $("#imagesShowDiv ul li").remove();
      var rowDatas = $("#dgCurrentAppendRowValues").datagrid("getRows");
      $('#imageScrollImageGroup').window('open');
      if(rowDatas&&rowDatas.length>0){
        var rowDataTmp = rowDatas[gdIndex];
        $("#imageScrollImageGroupForm").form("load",rowDataTmp);
        if(rowDataTmp.orderIndex==0){
          $("#inputOrderIndex").val(0);
        }
        //载入图片， load images
        $.each(rowDataTmp.picIds, function(){
          appendScrollImagesToDiv(this);
        });
      }
      

    }
    /********Add item to picScroll list*********/
    function saveImageScrollImageInEditOrSave(){
      var result = { };

      $.each($("#imageScrollImageGroupForm").serializeArray(), function() {
          result[this.name] = this.value;
      });
      result['picIds'] = [];
      $.each($("input[name='picIds']"), function(){
        result['picIds'].push(this.value);
      });
      result['tabType'] = 0;
      //If save
      if(managePictureGroupGdIndex<0){
        //Append data 
        $('#dgCurrentAppendRowValues').datagrid('appendRow',result);
      }else{
        $('#dgCurrentAppendRowValues').datagrid('updateRow',{
          index: managePictureGroupGdIndex,
          row: result
        });
      }
      //Close dialog
      $('#imageScrollImageGroup').dialog('close');
    }
    /*******Post image scroll array to server********/
    function saveImageScrollImageGroup(){
      var postData = {};
      postData.productInfoId = $("#dataGrid").datagrid("getSelected")._id;
      postData.scrollImages = JSON.stringify($('#dgCurrentAppendRowValues').datagrid('getRows'));
      $.post("/front/productInfo/updateScrollImage", postData, function(result){
        if(result.success){
              $.messager.show({    // show error message
                  title: '提示<span style="color:red;">!</span>',
                  msg: "<div style='text-align:center;margin-top:10px;'>修改成功！</div>",
                  style:{
                  right:'',
                  top:document.body.scrollTop+document.documentElement.scrollTop,
                  bottom:''
                }
              });
            }else{
              $.messager.show({    // show error message
                  title: '提示<span style="color:red;">!</span>',
                  msg: "<div style='text-align:center;margin-top:10px;'>修改失败！</div>",
                  style:{
                  right:'',
                  top:document.body.scrollTop+document.documentElement.scrollTop,
                  bottom:''
                }
              });
            }
      });
    }


    //视频管理
    //载入视频grid中的数据
    function showVideoManage(gdIndex){
      var rowDatas = $("#dataGrid").datagrid("getRows")[gdIndex].scrollPics;
      $('#videoTabManageDialog').window('open');
       //清除图片数据
      $('#dgVideoTabManage').datagrid('loadData',[]);
      //载入图片数据
      for(var i=0; i<rowDatas.length; i++)
        $('#dgVideoTabManage').datagrid('appendRow',rowDatas[i]);
    }

    /**Do search submit**/
    function submitSearchForm(){
      $('#searchfm').form('submit',{
          onSubmit: function(param){
            if(!$(this).form('validate')){
              return false;
            }
            //Validate the form
            var arrayData = $('#searchfm').serializeArray();
            var i = 0;
            for(; i < arrayData.length; i++) {
                param[arrayData[i].name] = arrayData[i].value;
            }
            $('#dataGrid').datagrid('load', param);
            return false;
          },
          success: function(result){
            
          }
      });
    }


    //Save or update url
    var url;
    //Open new form
    function newForm(){
        $('#dlg').dialog('open').dialog('setTitle','<%= object_name %>新增');
        $('#fm').form('clear');
        $('#usernameId').removeAttr('disabled');
        url = '/front/productInfo/save';
    }
    /**Open edit form **/
    function editForm(){
        var selectedRow = $('#dataGrid').datagrid('getSelections');
        var rowsLength = selectedRow.length;
        if (rowsLength>0){
            $('#dlg').dialog('open').dialog('setTitle','<%= object_name %>修改');
            $('#fm').form('load',selectedRow[0]);
            url = '/front/productInfo/update';
        }else{
          $.messager.show({    // show error message
              title: '提示<span style="color:red;">!</span>',
              msg: "<div style='text-align:center;margin-top:10px;'>请选择要修改的行！</div>",
              style:{
              right:'',
              top:document.body.scrollTop+document.documentElement.scrollTop,
              bottom:''
            }
          });
        }
    }
    /**Save edit form**/
    function saveForm(){
        $('#fm').form('submit',{
            url: url,
            onSubmit: function(param){
              //Validate the form
              return $(this).form('validate');
            },
            success: function(resultString){
              var result = eval("("+resultString+")");
                if (!result.success){
                    $.messager.show({
                      title: '提示<span style="color:red;">!</span>',
                        msg: "<div style='text-align:center;margin-top:10px;'>"+result.msg+"</div>",
                        style:{
                        right:'',
                        top:document.body.scrollTop+document.documentElement.scrollTop,
                        bottom:''
                      }
                    });
                } else {
                    $('#dlg').dialog('close');        // close the dialog
                    $.messager.show({
                      title: '提示',
                        msg: "<div style='text-align:center;margin-top:10px;'>保存成功!</div>",
                        style:{
                        right:'',
                        top:document.body.scrollTop+document.documentElement.scrollTop,
                        bottom:''
                      }
                    });
                  $('#dataGrid').datagrid('reload');
                }
            }
        });
    }

    /**Delete item**/
    function deleteSelectedItems(){
        var rows = $('#dataGrid').datagrid('getSelections');
        var rowsLength = rows.length;
        if (rowsLength>0){
            $.messager.confirm('提示信息','确定删除该行？',function(r){
                if (r){
                  $.post('/front/productInfo/remove', {_id:rows[0]._id}, function(result){
                        if(result.success){
                            $.messager.show({
                                title: '提示<span style="color:red;">!</span>',
                                msg: "<div style='text-align:center;margin-top:10px;'>成功！</div>",
                                style:{
                                    right:'',
                                    top:document.body.scrollTop+document.documentElement.scrollTop,
                                    bottom:''
                                }
                            });
                        }else{
                            $.messager.alert('错误信息','服务器连接已断开或服务器内部错误！','error');
                        }
                        $("#dataGrid").datagrid("reload");
                    });
                }
            });
        }else{
          $.messager.show({    // show error message
                title: '提示<span style="color:red;">!</span>',
                msg: "<div style='text-align:center;margin-top:10px;'>请选择要删除的行！</div>",
                style:{
                right:'',
                top:document.body.scrollTop+document.documentElement.scrollTop,
                bottom:''
              }
            });
        }
      }
    </script>
  </head>

  <body>
      <!--Grid table-->
      <table id="dataGrid">
      </table>
      <div id="toolbar">
        <form id="searchfm" method="post" style="display:inline;">
          设备CPU序列号
          <input id="search_eq_code" name="search_eq_code" class="easyui-validatebox" />
          状态:
          <input class="easyui-combobox" id="disbale"  data-options="
              panelHeight:'auto',
              valueField: 'value',
              value:'',
              editable:false,
              textField: 'label',
              data: [{
                label: '全部',
                value: ''
              },{
                label: '已启用',
                value: 'false'
              },{
                label: '已禁用',
                value: 'true'
              }]" />
        </form>
        <a href="javascript:void(0)" onclick="submitSearchForm()" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
        <span style="float:right;">
          <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newForm()">新建</a>
          <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editForm()">修改</a>
          <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteSelectedItems()">删除</a>
        </span>
      </div>

      <div id="dlg" class="easyui-dialog" data-options="closed:'true',modal:true,buttons:'#dlg-buttons'">
          <form id="fm" method="post" >
                <div class="fitem">
                    <label>产品名称</label>
                    <input name="productName" id="productName_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>产品描述</label>
                    <input name="productDescription" id="productDescription_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>产品类别</label>
                    <input name="productCategory" id="productCategory_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>产品产地</label>
                    <input name="productOriginPlace" id="productOriginPlace_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>购买链接</label>
                    <input name="linkToBuy" id="linkToBuy_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>所属用户</label>
                    <input name="user" id="user_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>展示图片集合</label>
                    <input name="indexImgIds" id="indexImgIds_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>浏览次数</label>
                    <input name="browseCount" id="browseCount_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>点赞次数</label>
                    <input name="praisedUsers" id="praisedUsers_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>图片轮播</label>
                    <input name="scrollPics" id="scrollPics_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>缩时摄像</label>
                    <input name="timelapseVideos" id="timelapseVideos_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>实时图片</label>
                    <input name="realtimePics" id="realtimePics_input" class="easyui-validatebox" required="true">
                </div>
              <input type="hidden" name="_id" id="_id">
          </form>
      </div>
      <div id="dlg-buttons">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveForm()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
      </div>
     
      <!--轮播图片Modal Begin-->
      <div id="appendRowOfImageScroll" class="easyui-dialog" title="轮播图片管理" data-options="modal:true,closed:true,iconCls:'icon-save', buttons:'#imageGroupdlg-buttons'" style="width:650px;height:400px;padding:10px;">
        <table id="dgCurrentAppendRowValues">
        </table>
        <div id="appendRowOfImageScrollToolbar" style="text-align:right;">
          <span>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="managePictureGroup(-1)">新建</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editForm()">修改</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteSelectedItems()">删除</a>
          </span>
        </div>
      </div>
      <div id="imageGroupdlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveImageScrollImageGroup()" style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#appendRowOfImageScroll').dialog('close')" style="width:90px">关闭</a>
      </div>
      <!--轮播图片Modal End-->

      <!--轮播图片图片集合Grid Begin-->
      <div id="imageScrollImageGroup" class="easyui-dialog" title="图片集合编辑" data-options="modal:true,closed:true,iconCls:'icon-save',buttons:'#imageGroupdEditlg-buttons'" style="width:600px;height:700px;padding:10px;" >
          <form id="imageScrollImageGroupForm">
            <table cellpadding="5" style="width:50%;margin:0 auto 0 auto;text-align:center;">
              <tr>
                  <td>排序:</td>
                  <td><input class="easyui-textbox" id="inputOrderIndex" name="orderIndex" data-options="required:true"></input></td>
              </tr>
              <tr>
                  <td>标题名称:</td>
                  <td><input class="easyui-textbox" name="title" data-options="required:true"></input></td>
              </tr>
              <tr>
                  <td>描述:</td>
                  <td><textarea class="easyui-textbox" name="description" data-options="multiline:true" style="height:80px"></textarea></td>
              </tr>
            </table>
            <div id="imagesShowDiv">
                <ul>
                    
                </ul>
            </div>  
            <!-- <input type="hidden" name="tabIndex"/> -->
          </form>
          <!--上传图片 Start-->
          <form id="uploadPicForm" action="/index/uploadCommonFile" method="post" enctype="multipart/form-data">
              <table>
                  <tr>
                      <td>选择图片</td>
                      <td><input name="file" class="easyui-filebox" style="width:300px"></input></td>
                      <td><input type="submit" value="提交"></input></td>
                  </tr>
              </table>
          </form>
          <!--上传图片 End-->
      </div> 
      <div id="imageGroupdEditlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveImageScrollImageInEditOrSave()" style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#imageScrollImageGroup').dialog('close')" style="width:90px">取消</a>
      </div>      
     <!--轮播图片图片集合Grid End-->


    <!--视频管理Modal Begin-->
      <div id="videoTabManageDialog" class="easyui-dialog" title="轮播图片管理" data-options="modal:true,closed:true,iconCls:'icon-save', buttons:'#videoTablg-buttons'" style="width:650px;height:400px;padding:10px;">
        <table id="dgVideoTabManage">
        </table>
        <div id="videoTabToolbar" style="text-align:right;">
          <span>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="managePictureGroup(-1)">新建</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editForm()">修改</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteSelectedItems()">删除</a>
          </span>
        </div>
      </div>
      <div id="videoTablg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveImageScrollImageGroup()" style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#appendRowOfImageScroll').dialog('close')" style="width:90px">关闭</a>
      </div>
      <!--视频管理图片Modal End-->


     <!--新建修改视频内容 Begin-->
      <div id="videoTabGroupDlg" class="easyui-dialog" title="视频Tab编辑" data-options="modal:true,closed:true,iconCls:'icon-save',buttons:'#videoEditlg-buttons'" style="width:600px;height:700px;padding:10px;" >
          <form id="videoTabForm">
            <table cellpadding="5" style="width:50%;margin:0 auto 0 auto;text-align:center;">
              <tr>
                  <td>排序:</td>
                  <td><input class="easyui-textbox" id="inputOrderIndexVideoTab" name="orderIndex" data-options="required:true"></input></td>
              </tr>
              <tr>
                  <td>标题名称:</td>
                  <td><input class="easyui-textbox" name="title" data-options="required:true"></input></td>
              </tr>
              <tr>
                  <td>视频连接（mp4格式）:</td>
                  <td><input class="easyui-textbox" name="videoLink" data-options="required:true"></input></td>
              </tr>
              
              <tr>
                  <td>描述:</td>
                  <td><textarea class="easyui-textbox" name="description" data-options="multiline:true" style="height:80px"></textarea></td>
              </tr>
            </table>
            <!-- <div> <input type="text" name=""/> </div>
            <div> <input type="text" name=""/></div>
            <div>类型 </div>
            <div> <textarea type="text" name=""></textarea></div> -->
            <!-- <input type="hidden" name="tabIndex"/> -->
          </form>
          
      </div> 
      <div id="videoEditlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveImageScrollImageInEditOrSave()" style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#videoTabGroupDlg').dialog('close')" style="width:90px">取消</a>
      </div>      
     <!--新建修改视频内容Grid End-->
    
  </body>
</html>
