<!DOCTYPE html>
<html>
	<head>
		<title> <%= application_name_cn %> </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<cmstudio:htmlBase/>
		<link rel="stylesheet" type="text/css" href="/vendors/ztree_3.5/css/zTreeStyle.css" />
		<cmstudio:importJsCss name="jquery" version="${jquery_version}"/>

		<link rel="shortcut icon" type="image/x-icon" href="resources/${icon_name}"/>
		<link rel="stylesheet" type="text/css" href="/css/basic/class/classTypeManage.css" />
		
		<%- include ../common/jqueryEasyUI.js.ejs %>

		<script src="/vendors/ztree_3.5/jquery.ztree.all-3.5.min.js" type="text/javascript">
		
		</script>

		<script type="text/javascript">
			var setting = {
				data: {
					simpleData: {
						enable: true,
						idKey: "_id",
						pIdKey: "classType"
						// rootPId: 0
					}
				},
				callback : {
						onClick:function (event,treeId,node) {
						selectedNodeId = node.id;
						console.log(node.id+"#########");
						$("#organizationGrid").datagrid({
							url:'/vpi/student/all', 
							loadFilter:pagerFilter,
							method:'POST',
							toolbar:'#toolbar',
							pagination:true,
							collapsible:true,
							title:"学生管理&nbsp----&nbsp"+node.name,
							rownumbers:true,
							singleSelect:false,
							pageSize:8,
						    pageList:[8,16,32,48,64],
							columns:[[
							          {field:'ck', checkbox:true },
							          {field:'_id', title:'编号' },
							          {
							          	field:'student',
							            title:'姓名',
							          	formatter:function(value,row,index){	
			        		  					return row.student;
	        		  			  		}
							          },
							          {field:'class', title:'班级' , fit:true},
					                  {field:'classType', title:'班级类别', fit:true} 
							          
							]],
							onLoadError: function(msge){
								$.messager.alert('错误信息','服务器连接已断开或服务器内部错误！','error');
							}
						});
					}
				}
			};

			$(function(){
				jQuery.ajaxSetup({ cache: false });
				loadOrganizationTree();
			});

			function loadOrganizationTree(){
				var data = new Array();
				$.ajax({
		  			type: "POST",
		  			url: "/vpi/classType/all"
		  			
				})
		  		.done(function( msg4ClassType ) {
		  			for(var i=0; i<msg4ClassType.rows.length; i++ ){
		  				msg4ClassType.rows[i].classType = 0;
		  			}
		  			$.ajax({
			  			type: "POST",
			  			url: "/vpi/class/all"
					})
			  		.done(function( msg4Class ) {
			  			for(var i=0; i<msg4Class.rows.length; i++ ){
		  					msg4Class.rows[i].classType = msg4Class.rows[i].classType._id;
		  				}
			    		data= msg4ClassType.rows.concat(msg4Class.rows);
			    		console.log(data.length+"!!!!");
			    		var allOrganizationTreeObj = $.fn.zTree.init($("#div_allOrganization_tree"), setting, data);
			    		var rootNode = allOrganizationTreeObj.getNodeByParam("_id","0");
					  	rootNode.name = $("title").html();
					  	allOrganizationTreeObj.refresh(); 
					  	var selectedNode;
					  	if(selectedNodeId){
						  selectedNode = allOrganizationTreeObj.getNodeByParam("id",selectedNodeId);
					  	}else{
						  selectedNode = allOrganizationTreeObj.getNodes()[0];
					  	}
					  	allOrganizationTreeObj.expandNode(selectedNode,true,false,false,false);
					  	allOrganizationTreeObj.selectNode(selectedNode);
					  	$("#"+selectedNode.tId+"_a").trigger("click");
			  		});	
		  		});


					// $.ajax({
					//   type: "POST",
					//   url: "/vpi/class/all"
					// }).done(function( msg ) {
					// 	console.log(msg+">>>>>??");
					//   allOrganizationTreeObj = $.fn.zTree.init($("#div_allOrganization_tree"), setting, msg);
					  
					// });
			}

				

		  		function pagerFilter(data){
				    if (typeof data.length == 'number' && typeof data.splice == 'function'){    
				        data = {
				            total: data.length,
				            rows: data
				        }
				    }
				    console.log(data.total+"???????"+data.rows)
				    var dg = $(this);
				    var opts = dg.datagrid('options');
				    var pager = dg.datagrid('getPager');
				    pager.pagination({
				    	onBeforeRefresh:function(){
				    		dg.datagrid("reload");
				    	},
				        onSelectPage:function(pageNum, pageSize){
				            opts.pageNumber = pageNum;
				            opts.pageSize = pageSize;
				            pager.pagination('refresh',{
				                pageNumber:pageNum,
				                pageSize:pageSize
				            });
				            dg.datagrid('loadData',data);
				        }
				    });
				    if (!data.originalRows){
				        data.originalRows = (data.rows);
				    }
				    console.log(opts.pageNumber+"sss"+opts.pageSize);
				    var start = (opts.pageNumber-1)*parseInt(opts.pageSize);
				    console.log(start+"$$$$");
				    var end = start + parseInt(opts.pageSize);
				    console.log(end+"####");
				    data.rows = (data.originalRows.slice(start, end));
				    console.log(data.originalRows+"12123");
				    return data;
				}
			

			function newForm(){
			    $('#dlg').dialog('open').dialog('setTitle','新建'+itemName+'');
			    $('#fm').form('clear');
			    url = '/vpi/class/addStudents';
			}

			function destroySelectedItems(){
			    var rows = $('#organizationGrid').datagrid('getSelections');
			    var rowsLength = rows.length;
			    if (rowsLength>0){
			        $.messager.confirm('提示信息','确定删除该行？',function(r){
			            if (r){
			                $.post('/vpi/class/deleteStudent',{student:rows[0]._id},function(result){
			                    if (result.success){
			                        $.messager.show({
			                            title: '提示',
			                            msg: "<div style='text-align:center;margin-top:10px;'>删除成功!</div>",
			                            style:{
			                                right:'',
			                                top:document.body.scrollTop+document.documentElement.scrollTop,
			                                bottom:''
			                            }
			                        });
			                        $('#organizationGrid').datagrid('reload');
			                        
			                    } else {
			                        $.messager.show({    // show error message
			                            title: '提示<span style="color:red;">!</span>',
			                            msg: "<div style='text-align:center;margin-top:10px;'>"+result.errorMsg+"</div>",
			                            style:{
			                                right:'',
			                                top:document.body.scrollTop+document.documentElement.scrollTop,
			                                bottom:''
			                            }
			                        });
			                        
			                    }
			                });
			            }
			        });
			    }else{
			        $.messager.show({    // show error message
			            title: '提示<span style="color:red;">!</span>',
			            msg: "<div style='text-align:center;margin-top:10px;'>请选择要删除的行！</div>",
			            style:{
			                right:'',
			                top:document.body.scrollTop+document.documentElement.scrollTop,
			                bottom:''
			            }
			        });
			    }
			}
		</script>
	</head>
	<body id="main" style="width:1000px;height:550px;">
		<div class="easyui-layout" style="width:1000px;height:550px;">
			<div data-options="region:'west',split:true" title="学生管理" style="width: 180px;  overflow: auto; ">
				<div class="easyui-accordion" data-options="fit:true,border:false">
					<div style="z-index:12754; border: 1px solid lightgray; background: white; width: 250px; height: 35px; display: none; padding: 4px;" id="treeLoadMsg">
					</div>
			        <ul id="div_allOrganization_tree" class="ztree"></ul>
				</div>
			</div>
			<div data-options="region:'center'" title="" style="overflow: hidden;width:700px;"
			 overflow: auto;>

				<table id="organizationGrid">
				</table>
				<div id="toolbar">
				    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newForm()">新建</a>
				    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroySelectedItems()">删除</a>
			    </div>
		 		 <div id="dlg" class="easyui-dialog" data-options="closed:'true',buttons:'#dlg-buttons'">
			        <div class="ftitle">菜单信息</div>
			        <form id="fm" method="post" >
			            <div class="fitem">
			                <label>姓名：</label>
			                <input name="name" class="easyui-validatebox" required="true">
			            </div>
			            <div class="fitem">
			                <label>全名：</label>
			                <input name="fullName" class="easyui-validatebox" required="true">
			            </div>
			            <div class="fitem">
			                <label>班级:</label>
			                <input name="class" class="easyui-validatebox" required="true">
			            </div>
			            <div class="fitem">
			                <label>班级类别</label>
			                <input name="classType" class="easyui-numberbox" required="true">
			            </div>
			        </form>
			    </div>
			    <div id="dlg-buttons">
				    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveForm()">保存</a>
				    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
				</div>
			</div>
		</div>	
	</body>
</html>
