
<div class="panel panel-default">

    <div class="panel-heading"><h4 class="modal-title"><%= title %></h4></div>
    <div class="panel-body">
        <div style="width:70%;margin:0 auto 0 auto;">
            <a href="javascript:void(0);" class="thumbnail" >
              <img data-src="holder.js/100%x180" alt="..." src="/images/<%= image %>" >
            </a>
        </div>

        <p><%= content %></p>
       <!--  <div>

           <button type="button" class="btn btn-primary btn-lg">Large button</button>
           <button type="button" class="btn btn-primary btn-lg">Large button</button>
           <button type="button" class="btn btn-primary btn-lg">Large button</button>

       </div> -->


        <div style="width:30%; margin:0 auto 0 auto;">
            <div style="width:100px;position: relative; display: inline-block;top:6px;">
             <button type="button" id="btn-praise" class="btn btn-warning btn-lg praiseBtn" data-lessonid="<%= _id %>"><span class="glyphicon glyphicon-thumbs-up"></span>赞&nbsp;<span class="badge praiseCountBadage"><%= praiseCount %></span></button>
            </div>

            <div style="width:100px;position: relative; display: inline-block;top:-20px;">
                <button type="button" class="btn btn-primary btn-lg btn-block z-index:-1;" style="position:absolute;left:120px;">上传作业</button>
                <input id="fileupload" style="position:absolute; background:red;top:0;  filter:alpha(opacity:0);opacity: 0; right:10; height:49px; width:200px ; " type="file" name="uploadedPic" data-url="/vpi/picupload" >
            </div>
        </div>



        <!-- <div style="text-align:center;" id="fileuploadBtnGroup">
            <div class="btn-group btn-group-lg">
                <button type="button" class="btn btn-warning praiseBtn" data-lessonid="<%= _id %>"><span class="glyphicon glyphicon-thumbs-up"></span>赞&nbsp;<span class="badge praiseCountBadage"><%= praiseCount %></span></button>
                <button type="button" class="btn btn-primary uploadBtn" data-lessonid="<%= _id %>"><span class="glyphicon glyphicon-floppy-open"></span>上传作业&nbsp;<span class="badge" id="uploadProgressPercentage"></span></button>
                 <input id="fileupload" style="position:fixed; background:blue;top:0; right:114px; height:49px; width:160px " type="file" name="uploadedPic" data-url="/vpi/picupload" >
                <button type="button" class="btn btn-success shareBtn"><span class="glyphicon glyphicon-export"></span>分享&nbsp;<span class="badge" id="uploadProgressPercentage"></span></button>
            </div>
        </div> -->
   </div>
</div>

