<div id="mainPageContainer">
      <ul id="mainPage-leftPic">

      	<li><img src="/img/index/11.jpg" style="width:100%;height:100%;" /></li>
      	<li><img src="/img/index/33.jpg" style="width:100%;height:100%;"/></li>
      	<li><img src="/img/index/22.jpg" style="width:100%;height:100%;"/></li>
      </ul>

      <div id="companyIntroductionDiv">
      		<div id="innerCompanyIntroductionDiv">
			    <h3 style="height:bold;"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;公司简介</h3>
			    <br/>
			    <ul id="innerCompanyIntroductionDivUl">

			    	<li><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;南京盛世苏影文化传媒有限公司是利用网络、手机终端从事教育培训的综合型服务商，专业从事网络教育培训。</li>

			    	<li><span class="glyphicon glyphicon-camera"></span>&nbsp;&nbsp;公司旗下的影视多媒体制作部门拥有优秀的拍摄团队、全套高清的拍摄器材、成熟的后期制作技术。</li>

			    	<li><span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;主要经营：网络摄影培训、活动执行、创意策划、平面设计、商业摄影、媒体投放等。</li>

			    	<li><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;公司以"无限可能，完美呈现非凡创意"为宗旨，
		            与您携手共创摄影教育的新界标。</li>

			    </ul>

			    <ul id="downloadApps">
			    	<li>
			    		<a href="#" class="apple-store"><img src="/img/index/apple-store.png" /></a>
			    	</li>
			    	<li>
			    		<a href="/download/vpi-1.3-release.apk" class="android-play"><img src="/img/index/google-play.png" />Android Play</a>
			    	</li>
			    </ul>

	        </div>
      </div>
  </div>
