
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail uploadedImageThumbnail">
      <img style="height:200px;" src="/images/<%= picName %>" data-nameuri="<%= picName %>" >
      <div class="caption">
        <p>标题:<input type="text" class="imageTitle" placeholder="标题" style="width:65%;margin-right:10px;" /><button type="button" class="btn btn-danger btn-sm">删除</button></p>
         
        <p>描述:<textarea placeholder="描述" class="imageDescription" style="height:100px; width:80%;"></textarea></p>
      </div>
    </div>
  </div>
