<!DOCTYPE html>
<html>
  <head>
    <title> <%= application_name_cn %> </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="resources/${icon_name}"/>
    <style type="text/css">
       #fm{
           margin:0;
           padding:10px 30px;
       }
       .ftitle{
           font-size:14px;
           font-weight:bold;
           padding:5px 0;
           margin-bottom:10px;
           border-bottom:1px solid #ccc;
       }
       .fitem{
           margin-bottom:5px;
           text-align:center;
       }
       .fitem label{
            text-align:right;
           display:inline-block;
           width:100px;
           font-weight:bold;
       }

       #dlg-buttons{
        text-align:right;
        margin-right:10px 30px 0 0 ;
       }

       .fitem textarea{
          margin:5px 0 0 17%;
          width:200px;
          height:60px;
          display:block;
       }

       #dlg{
        width:450px;
        height:540px;
       }

       #dlg .ftitle{
        margin:5px 10px 5px 10px;
        padding:4px 0px 4px 14px;
       }
    </style>
    <%- include ../common/jqueryEasyUI.js.ejs %>

    <script type="text/javascript">
      /***
       * author: charmyin
       * datetime: 2015-5-1
       * title: Cameras manage ~
       ***/
      /********************************************************Initial the page*****************************************************/
      $(function(){
        //Disable cache
        jQuery.ajaxSetup({ cache: false });
        //Load grid
        $("#dataGrid").datagrid({
            url:'/front/user/searchList',
            method:'POST',
            toolbar:'#toolbar',
            pagination:true,
            collapsible:true,
            title:"用户信息列表",
            rownumbers:true,
            queryParams:{userrole:1},
            loadFilter:function(data){
              //if data is wrong or failed, show error message
              if(!data.success){
                $.messager.show({
                        title: '提示<span style="color:red;">!</span>',
                          msg: "<div style='text-align:center;margin-top:10px;'>"+data.msg+"</div>",
                          style:{
                          right:'',
                          top:document.body.scrollTop+document.documentElement.scrollTop,
                          bottom:''
                        }
                      });
                return {
                  page:1,
                  total:0,
                  rowsCount:10,
                  rows:[]
                };
              }else{
                return data;
              }
            },
            singleSelect:true,
            pageSize:10,
            pageList:[10,20,30,40,50],
            columns:[[
                      //{field:'ck', checkbox:true},
                        {field:'username', title:'用户名', width:120},
                        {field:'email', title:'注册邮箱', width:120},
                        {field:'userrole', title:'用户角色', width:120},
                        {field:'browseCount', title:'浏览次数', width:120},
                        {field:'phonenumber', title:'电话号码', width:120},
                        {field:'birthday', title:'生日', width:120},
                        {field:'introduction', title:'介绍', width:120},
                        {field:'website', title:'网站地址', width:120},
                        {field:'address', title:'住址', width:120},
                        {field:'provider', title:'XXX', width:120},
                        {field:'hashed_password', title:'密码', width:120},
                        {field:'salt', title:'撒把盐', width:120},
                        {field:'authToken', title:'口令', width:120},
                        {field:'userPhotoID', title:'用户头像地址', width:120},
                        {field:'storedProducts', title:'收藏', width:120},
                        {field:'password', title:'', width:120},
                      {field:'_id', title:'编号', hidden:true}
            ]],
            onLoadError: function(msge){
                $.messager.alert('错误信息','服务器连接已断开或服务器内部错误！','error');
            }
        });

        //上传图片
        $('#uploadPicForm').form({
            success:function(data){
              var dataObj = eval("("+data+")");
              $("#userPhotoID_input").val(dataObj.file.name);
              $("#userPhotoIDImg").attr("src", "/images/"+dataObj.file.name);
            }
        });
      });

      /**Do search submit**/
      function submitSearchForm(){
        $('#searchfm').form('submit',{
            onSubmit: function(param){
              if(!$(this).form('validate')){
                return false;
              }
              //Validate the form
              var arrayData = $('#searchfm').serializeArray();
              var i = 0;
              for(; i < arrayData.length; i++) {
                  param[arrayData[i].name] = arrayData[i].value;
              }
              $('#dataGrid').datagrid('load', param);
              return false;
            },
            success: function(resultString){
            }
        });
      }

      //Save or update url
      var url;
      //Open new form
      function newForm(){
          $('#dlg').dialog('open').dialog('setTitle','<%= object_name %>新增');
          $('#fm').form('clear');
          $("#userPhotoIDImg").attr("src","");
          url = '/front/user/save';
      }
      /**Open edit form **/
      function editForm(){
          var selectedRow = $('#dataGrid').datagrid('getSelections');
          var rowsLength = selectedRow.length;
          if (rowsLength>0){
              $('#dlg').dialog('open').dialog('setTitle','<%= object_name %>修改');
              $('#fm').form('load',selectedRow[0]);
              $("#userPhotoIDImg").attr("src", "/images/"+selectedRow[0].userPhotoID);//载入图片
              url = '/front/user/update';
          }else{
            $.messager.show({    // show error message
                  title: '提示<span style="color:red;">!</span>',
                  msg: "<div style='text-align:center;margin-top:10px;'>请选择要修改的行！</div>",
                  style:{
                  right:'',
                  top:document.body.scrollTop+document.documentElement.scrollTop,
                  bottom:''
                }
              });
          }
      }
      /**Save edit form**/
      function saveForm(){
          $('#fm').form('submit',{
              url: url,
              onSubmit: function(param){
                //Validate the form
                return $(this).form('validate');
              },
              success: function(resultString){
                var result = eval("("+resultString+")");
                  if (!result.success){
                      $.messager.show({
                        title: '提示<span style="color:red;">!</span>',
                          msg: "<div style='text-align:center;margin-top:10px;'>"+result.msg+"</div>",
                          style:{
                          right:'',
                          top:document.body.scrollTop+document.documentElement.scrollTop,
                          bottom:''
                        }
                      });
                  } else {
                      $('#dlg').dialog('close');        // close the dialog
                      $.messager.show({
                        title: '提示',
                          msg: "<div style='text-align:center;margin-top:10px;'>保存成功!</div>",
                          style:{
                          right:'',
                          top:document.body.scrollTop+document.documentElement.scrollTop,
                          bottom:''
                        }
                      });
                    $('#dataGrid').datagrid('reload');
                  }
              }
          });
      }

      /**Delete item**/
      function deleteSelectedItems(){
          var rows = $('#dataGrid').datagrid('getSelections');
          var rowsLength = rows.length;
          if (rowsLength>0){
              $.messager.confirm('提示信息','确定删除该行？',function(r){
                  if (r){
                    $.post('/front/user/remove', {_id:rows[0]._id}, function(result){
                          if(result.success){
                              $.messager.show({
                                  title: '提示<span style="color:red;">!</span>',
                                  msg: "<div style='text-align:center;margin-top:10px;'>成功！</div>",
                                  style:{
                                      right:'',
                                      top:document.body.scrollTop+document.documentElement.scrollTop,
                                      bottom:''
                                  }
                              });
                          }else{
                              $.messager.alert('错误信息','服务器连接已断开或服务器内部错误！','error');
                          }
                          $("#dataGrid").datagrid("reload");
                      });
                  }
              });
          }else{
            $.messager.show({    // show error message
                  title: '提示<span style="color:red;">!</span>',
                  msg: "<div style='text-align:center;margin-top:10px;'>请选择要删除的行！</div>",
                  style:{
                  right:'',
                  top:document.body.scrollTop+document.documentElement.scrollTop,
                  bottom:''
                }
              });
          }
      }
    </script>
  </head>

  <body>
      <!--Grid table-->
      <table id="dataGrid">
      </table>
      <div id="toolbar">
        <form id="searchfm" method="post" style="display:inline;">
          设备CPU序列号
          <input id="search_eq_code" name="search_eq_code" required="true" class="easyui-validatebox" />
          状态:
          <input class="easyui-combobox" id="disbale"  data-options="
              panelHeight:'auto',
              valueField: 'value',
              value:'',
              editable:false,
              textField: 'label',
              data: [{
                label: '全部',
                value: ''
              },{
                label: '已启用',
                value: 'false'
              },{
                label: '已禁用',
                value: 'true'
              }]" />
        </form>
        <a href="javascript:void(0)" onclick="submitSearchForm()" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
        <span style="float:right;">
          <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newForm()">新建</a>
          <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editForm()">修改</a>
          <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteSelectedItems()">删除</a>
        </span>
      </div>

      <div id="dlg" class="easyui-dialog" data-options="closed:'true',modal:true,buttons:'#dlg-buttons'">
          <form id="fm" method="post" >
                <div class="fitem">
                    <label>用户名</label>
                    <input name="username" id="username_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>注册邮箱</label>
                    <input name="email" id="email_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>用户角色</label>
                    <input name="userrole" id="userrole_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>浏览次数</label>
                    <input name="browseCount" id="browseCount_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>电话号码</label>
                    <input name="phonenumber" id="phonenumber_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>生日</label>
                    <input name="birthday" id="birthday_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>介绍</label>
                    <input name="introduction" id="introduction_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>网站地址</label>
                    <input name="website" id="website_input" class="easyui-validatebox">
                </div>
                <div class="fitem">
                    <label>住址</label>
                    <input name="address" id="address_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>XXX</label>
                    <input name="provider" id="provider_input" class="easyui-validatebox" >
                </div>
                <!-- <div class="fitem">
                    <label>密码</label>
                    <input name="hashed_password" id="hashed_password_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>撒把盐</label>
                    <input name="salt" id="salt_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>口令</label>
                    <input name="authToken" id="authToken_input" class="easyui-validatebox" required="true">
                </div> -->
                <!-- <div class="fitem">
                    <label>收藏</label>
                    <input name="storedProducts" id="storedProducts_input" class="easyui-validatebox" required="true">
                </div> -->
               <!--  <div class="fitem">
                    <label>密码</label>
                    <input name="password" id="password_input" class="easyui-validatebox" required="true">
                </div> -->
                <div class="fitem">
                    <label>用户头像地址</label>
                    <img id="userPhotoIDImg" style="height:200px;width:200px;" />
                    <input name="userPhotoID" id="userPhotoID_input" type="hidden"/>
                </div>
              <input type="hidden" name="_id" id="_id">
          </form>
           <!--上传图片 Start-->
          <form id="uploadPicForm" action="/index/uploadCommonFile" method="post" enctype="multipart/form-data" style="width:70%; margin-left:auto; margin-right:auto;">
              <table style="width:100%; text-align:center;">
                  <tr>
                      <td>选择图片</td>
                      <td><input name="file" class="easyui-filebox" style="width:200px;"></input></td>
                      <td><input type="submit" value="提交"></input></td>
                  </tr>
              </table>
          </form>
          <!--上传图片 End-->
      </div>
      <div id="dlg-buttons">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveForm()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
    </div>

  </body>
</html>
