<!DOCTYPE html>
<html>
	<head>
		<title> <%= application_name_cn %> </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<cmstudio:htmlBase/>
		<link rel="shortcut icon" type="image/x-icon" href="resources/${icon_name}"/>
		<link rel="stylesheet" type="text/css" href="/css/basic/picture/pictureManage.css" />
		
		<%- include ../common/jqueryEasyUI.js.ejs %>

		<script type="text/javascript" src="/js/basic/picture/pictureManage.js"></script>
	</head>
	<body>
		
 	    <table id="pictureGrid">
	    </table>
	    <!-- 根据图片状态进行搜索 -->
	    <div id="toolbar">
	 	  状态:
	 	  		<input class="easyui-combobox" id="pictureStatus"  data-options="
	 	  		panelHeight:'auto',
					valueField: 'value',
					value:'',
					editable:false,
					textField: 'label',
					data: [{
						label: '全部',
						value: ''
					},{
						label: '可展示',
						value: '1'
					},{
						label: '不展示',
						value: '2'
					},{
						label: '未审核',
						value: '0'
					}]" />
			<!--请选择分类:-->
			<!--<input id="selectType" name="type" class="easyui-combobox" data-options="-->
		        							<!--valueField: '_id',-->
		      								<!--textField: 'name',-->
		      								<!--panelHeight:'auto'-->
		      								<!--,editable:false"  />-->
	 	  
	 	   <a href="javascript:void(0)" onclick="select()" class="easyui-linkbutton" iconCls="icon-search">
	 	   搜索</a>
	        <!-- <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newForm()">新建</a> -->
	        <!--<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="detailed()">修改</a>-->
	        <!-- <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroySelectedItems()">删除</a> -->
	    </div>
	    <!-- 修改 详情-->
	    <!--修改-->
	    <div id="detailed" class="easyui-dialog" data-options="closed:'true',modal:true,buttons:'#dlg-buttons'">
			<img src="" id = "homeworkimg"  width="500px" height="300px" >
			<form method="post" enctype="multipart/form-data" action="/vpi/picupload" id ="uplodeimage">
				<input type="file" name="uploadedPic">
				<a href="javascript:void(0)" class="easyui-linkbutton"onclick="uplodeimage()">上传图片</a>
				<a href = "" id="download" target="_blank"  class="easyui-linkbutton">下载图片</a>
			</form>
			<form id="fm" method="post" >
	            <table>
			    	<tr>
			    		<td>

			    		</td>
			    	</tr>
					<tr>
						<td>
							<div class="fitem" style="display:none">
								<input name="uri" id = "uri" class="easyui-validatebox">
							</div>
						</td>
					</tr>
			    	<tr>
		    			<td>
							图片名称:<span id ="name"></span><br/><br/>
							上传人:<span id ="user"></span><br/><br/>
							图片描述:  <textarea name="description" disabled = "true" id ="description"></textarea><br/><br/>
							上传时间:<span name = "createDate" id ="createDate">1</span><br/><br/>
			    			<input type="hidden" id="_id"  name="_id" />
			    			<!--请选择分类:-->
			    			<!--<input id="pictureType" required="true" name="type" class="easyui-combobox" data-options="-->
		        							<!--valueField: '_id',-->
		      								<!--textField: 'name',-->
		      								<!--panelHeight:'auto',-->
		      								<!--editable:false-->
		      								<!--" /><br/><br/>-->
		           			请选择:<input type="radio" name="status" value="1" />可展示
	    						  <input type="radio" name="status" value="2" />不展示
		    		   </td>
		        	</tr>

					<tr>
			    		<td>
				    		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok"  onclick="saveForm()" >确定</a>
					         <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#detailed').dialog('close')">取消</a>
			    		</td> 
		    		</tr>
	  			</table>
	  		</form>
	    </div>
<!-- 	    <div id="dlg-buttons">
		        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveForm()">保存</a>
		        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#detailed').dialog('close')">取消</a>
		</div> -->
		
	</body>
</html>
