<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/vendors/bootstrap-3.1.1/css/bootstrap.min.css' />
    <script type="text/javascript" src="/javascripts/jquery/jquery-1.9.0.js"></script>
    <script type="text/javascript" src="/vendors/bootstrap-3.1.1/js/bootstrap.min.js"></script>
    <!--    <link rel='stylesheet' href='/vendors/flowplayer/skin/minimalist.css' />
        <script src="/vendors/flowplayer/flowplayer.min.js"></script>-->
    <script>

    </script>
    <script>
        $(function(){
            //videojs.options.flash.swf = "/vendors/videojs/video-js.swf"
            $("img").click(function(){
                $('#myModal').modal('show');
            });

            $("#navbarHead li").removeClass("active")
            $("#photographers").addClass("active");
            /* var video = document.getElementById('video');
             video.addEventListener('click',function(){
             video.play();
             },false);*/

            /* if (navigator.userAgent.match(/Android/i) != null || (navigator.userAgent.match(/Chrome/i) != null && navigator.userAgent.match(/Mobile/i) != null)) {
             $('video').each(function() {
             var src = $(this).find('source[type="video/webm"]').attr('src');
             var poster = $(this).attr('poster');
             $(this).replaceWith('<div class="not-video-js"><a href="'+src+'" style="display:block; position: relative; top:0; left:0;"><img src="'+poster+'" class="posterframe-fake"></a><div class="not-video-js-button" tabindex="0" style="position:absolute; top:50%; left: 50%;"><span style="margin: -50px 0 0 -50px; position:absolute; top:50%; left: 50%;"><a href="'+src+'"><img src="img/btn_video_play.png"></a></span></div></div>');
             });
             }*/
        });
    </script>

</head>
<body>

    <%- include ../common/head.ejs %>

    <ol class="breadcrumb" style="margin:0;">
        <li><a href="/">首页</a></li>
        <li><a href="/photographers">摄影师</a></li>
        <li class="active">Charmyin集团</li>
    </ol>

    <!--Body-->
    <div class="row" style="width:98%;margin:0 auto 0 auto;">
        <div class="col-xs-12 col-sm-3 col-md-3" style="height:200px; padding:0;">
            <img style="height:100%; width:100%;" src="/images/producers/1.jpg" alt="凤凰传奇" >
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3" style="height:200px; padding:0;">
            <img style="height:100%; width:100%;" src="/images/producers/99.jpg" alt="凤凰传奇" >
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6" style="min-height:200px;font-family:monaco, 'courier new', verdana; font-weight:bold; font-size:1vw;">
            <p>
                Los Angeles | Everyone loves a good dumpling and every culture has one. 3 Little Dumplings specializes in making Russian style dumplings. 100% handmade from scratch, from dough to fillings to shaping. 100% free range chicken and all natural beef and pork. 100% made with love. You're invited to try a new kind of dumpling!
                We invite you to try Potato/Sweet Onion, Pork/Beef.We invite you to try Potato/Sweet Onion, Pork/Beef.We invite you to try Potato/Sweet Onion, Pork/Beef.
            </p>
            <p style="text-align: center;"> <a style="font-size: 20px; font-weight:bold;" target="_blank" href="http://weibo.com/u/1866336757">主人网站</a></p>
        </div>
     <!--   <div class="col-xs-12 col-sm-12 col-md-6" style="height:200px;background:green">

        </div>-->
    </div>
    <!--<div class="well well-lg" style="height:200px;">
    </div>-->
    <div class="alert alert-success" style="margin: 10px auto 3px auto; width:98%;"><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;摄影展示 </div>
    <div class="row" style="padding:5px 10px 10px 10px;margin:0 0 0 0;">
        <div class="col-xs-12 col-sm-6 col-md-4" >
            <div class="thumbnail">
                <img style="height:250px;" src="/images/producers/dp1.jpg" alt="">
                <div class="caption">
                    <div><a href="#" style="font-size:16px;font-weight: bold;">小饺子</a><span class="label label-primary" style="float:right;">山西河北</span></div>

                    <div style="height:10px;"><span>阅读次数：1221</span><a  href="#" style="float:right;">&nbsp;Charmyin</a><a href="#" style="float:right;">周杰伦妹妹&nbsp;</a></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4" >
            <div class="thumbnail">
                <img style="height:250px;" src="/images/producers/dp2.jpg" alt="">
                <div class="caption">
                    <div><a href="#" style="font-size:16px;font-weight: bold;">大饺子</a><span class="label label-primary" style="float:right;">山西河北</span></div>

                    <div style="height:10px;"><span>阅读次数：1221</span><a  href="#" style="float:right;">&nbsp;Charmyin</a><a href="#" style="float:right;">周杰伦妹妹&nbsp;</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4" >
            <div class="thumbnail">
                <img style="height:250px;" src="/images/producers/dp3.jpg" alt="">
                <div class="caption">
                    <div><a href="#" style="font-size:16px;font-weight: bold;">大娘的水饺</a><span class="label label-primary" style="float:right;">山西河北</span></div>

                    <div style="height:10px;"><span>阅读次数：1221</span><a  href="#" style="float:right;">&nbsp;Charmyin</a><a href="#" style="float:right;">周杰伦妹妹&nbsp;</a></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4" >
            <div class="thumbnail">
                <img style="height:250px;" src="/images/producers/dp2.jpg" alt="">
                <div class="caption">
                    <div><a href="#" style="font-size:16px;font-weight: bold;">牛肉水饺</a><span class="label label-primary" style="float:right;">山西河北</span></div>

                    <div style="height:10px;"><span>阅读次数：1221</span><a  href="#" style="float:right;">&nbsp;Charmyin</a><a href="#" style="float:right;">周杰伦妹妹&nbsp;</a></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4" >
            <div class="thumbnail">
                <img style="height:250px;" src="/images/producers/dp1.jpg" alt="">
                <div class="caption">
                    <div><a href="#" style="font-size:16px;font-weight: bold;">虾仁水饺</a><span class="label label-primary" style="float:right;">山西河北</span></div>

                    <div style="height:10px;"><span>阅读次数：1221</span><a  href="#" style="float:right;">&nbsp;Charmyin</a><a href="#" style="float:right;">周杰伦妹妹&nbsp;</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4" >
            <div class="thumbnail">
                <img style="height:250px;" src="/images/producers/dp3.jpg" alt="">
                <div class="caption">
                    <div><a href="#" style="font-size:16px;font-weight: bold;">韭菜pork饺</a><span class="label label-primary" style="float:right;">山西河北</span></div>

                    <div style="height:10px;"><span>阅读次数：1221</span><a  href="#" style="float:right;">&nbsp;Charmyin</a><a href="#" style="float:right;">周杰伦妹妹&nbsp;</a></div>
                </div>
            </div>
        </div>

    </div>


    <%- include common/footer.ejs %>

    <!-- Modal -->
    <%- include common/videoTabModal.ejs %>
</body>
</html>