<!DOCTYPE html>
<html>
	<head>
		<title> <%= application_name_cn %> </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<cmstudio:htmlBase/>
		<link rel="shortcut icon" type="image/x-icon" href="resources/${icon_name}"/>
		<link rel="stylesheet" type="text/css" href="/css/basic/class/classTypeManage.css" />
		
		<%- include ../common/jqueryEasyUI.js.ejs %>

		<script type="text/javascript" src="/js/basic/class/classManage.js">
			
			

			

		</script>
	</head>
	<body>
		
 	    <table id="classGrid">
	    </table>


	    <div id="toolbar">
	        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newForm()">新建</a>
	        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editForm()">修改</a>
	        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroySelectedItems()">删除</a>
        	班级分类:<input id="cc1" class="easyui-combobox" data-options="
        							valueField: '_id',
      								textField: 'name',
      								panelHeight:'auto'
      								,editable:false
        						" />
        	
			<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="findByClassType()">搜索</a>
	    </div>
	    <div id="dlg" class="easyui-dialog" data-options="closed:'true',modal:true,buttons:'#dlg-buttons'">
	      
	        <form id="fm" method="post" >
	            <div class="fitem">
	                <label>名称：</label>
	                <input name="name" class="easyui-validatebox" required="true">

	            </div>

	            <div class="fitem">
	                <label>学费：</label>
	                <input name="fee" id="fee" class="easyui-validatebox" required="true">

	            </div>

	            <div class="fitem">
	                <label>班级分类：</label>
	                <input  id="classType" class="easyui-combobox"  required="true" name="classType" data-options="
        							valueField: '_id',
        							editable:false,
      								textField: 'name',
      								panelHeight:'auto'
        						" />

	            </div>

	            <div class="fitem">
	                <label>开班时间:</label>
	                <input name="startDate" class="easyui-datebox" id = "startDate" required="true">

	            </div>

	            <div class="fitem">
	                <label>结束时间:</label>
	                <input name="endDate" class="easyui-datebox" id = "endDate" required="true">

	            </div>

	            <div class="fitem">
	                <label>上课地点:</label>
	                <input name="place" class="easyui-validatebox" required="true">

	            </div>

	            <div class="fitem">
	                <label>上课时间:</label>
	                <input name="classTime" class="easyui-validatebox" required="true">

	            </div>
	           
	            
	        </form>
	    </div>
	    <div id="dlg-buttons">
		        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveForm()">保存</a>
		        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
		</div>
		
	</body>
</html>
