<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h3 class="modal-title" id="myModalLabel"><span class="label label-warning">标题</span></h3>
            </div>
            <div class="modal-body">
                <!--<div class="flowplayer" style="min-height:200px;" data-swf="/vendors/flowplayer/flowplayer.swf" data-ratio="0.4167">
                    <video>
                        <source type="video/mp4" src="/videos/ppp.mp4">
                        <source type="video/x-flv" src="/videos/videos.flv">
                    </video>
                </div>-->
                <!-- <video width="100%" height="auto" id="video"  poster="http://ps3.v.iask.com/522/7/134535214_2.jpg"
                        src="http://share.vrs.sohu.com/my/v.swf&autoplay=false&id=61804234&skinNum=1&topBar=1&xuid=e11122962"  controls="controls" tabindex="0" preload="auto">
                     您的浏览器不支持video标签。
                 </video>
-->
                <!--<object>
                    <param name="movie" value="http://share.vrs.sohu.com/my/v.swf&autoplay=false&id=61804234&skinNum=1&topBar=1&xuid=e11122962">
                    <param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always">
                    <param name="wmode" value="Transparent">
                    <embed style="width:100%; min-height:350px" wmode="Transparent" allowfullscreen="true" allowscriptaccess="always" quality="high" src="http://share.vrs.sohu.com/my/v.swf&autoplay=false&id=61804234&skinNum=1&topBar=1&xuid=e11122962" type="application/x-shockwave-flash" >
                </object>-->



                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img style="min-height:250px;width: 100%;" src="/images/producers/dp2.jpg" alt="">
                            <div class="carousel-caption">
                               收麦子
                            </div>
                        </div>

                        <div class="item">
                            <img style="min-height:250px;width: 100%;" src="/images/producers/dp3.jpg" alt="">
                            <div class="carousel-caption">
                                碾粉
                            </div>
                        </div>

                        <div class="item">
                            <img style="min-height:250px;width: 100%;" src="/images/producers/dp1.jpg" alt="">
                            <div class="carousel-caption">
                                包饺子
                            </div>
                        </div>
                        <div class="item">
                            <img style="min-height:250px;width: 100%;" src="/images/producers/dp1.jpg" alt="">
                            <div class="carousel-caption">
                                下馆子
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>


                <div><a href="#" style="font-size:16px;font-weight: bold;">White Cake</a><span class="label label-primary" style="float:right;">Britain</span></div>
                <p style="width:100%; text-indent: 10px;">
                    A cross between apricots and plums, apriums have orange flesh like an apricot but smooth skin like a plum. Certified organic.
                </p>
                <div style="height:10px; width:100%;"><span>阅读次数：1221</span><a  href="#" style="float:right;">&nbsp;Charmyin</a><a href="#" style="float:right;">周杰伦妹妹&nbsp;</a></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>