<div class="modal fade bs-example-modal-lg" id="detailModelDiv" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
        <h4 class="modal-title">提交作业图片</h4>
      </div>
      <div class="modal-body">

        <a href="javascript:void(0);" class="thumbnail" >
          <img data-src="holder.js/100%x180" alt="..." src="/images/fav.jpg" >
        </a>

        <p><%= content %></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" class="saveFilesBtn">保存</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>