<!DOCTYPE html>
<html>
  <head>
    <title> <%= application_name_cn %> </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="resources/${icon_name}"/>
    <style type="text/css">
       #fm{
           margin:0;
           padding:10px 30px;
       }
       .ftitle{
           font-size:14px;
           font-weight:bold;
           padding:5px 0;
           margin-bottom:10px;
           border-bottom:1px solid #ccc;
       }
       .fitem{
           margin-bottom:5px;
           text-align:center;
       }
       .fitem label{
            text-align:right;
           display:inline-block;
           width:100px;
           font-weight:bold;
       }

       #dlg-buttons{
        text-align:right;
        margin-right:10px 30px 0 0 ;
       }

       .fitem textarea{
          margin:5px 0 0 17%;
          width:200px;
          height:60px;
          display:block;
       }

       #dlg{
        width:350px;
        height:280px;
       }

       #dlg .ftitle{
        margin:5px 10px 5px 10px;
        padding:4px 0px 4px 14px;
       }
    </style>
    <%- include ../common/jqueryEasyUI.js.ejs %>

    <script type="text/javascript">
      /***
       * author: charmyin
       * datetime: 2015-5-1
       * title: Cameras manage ~
       ***/
      /********************************************************Initial the page*****************************************************/
      $(function(){
        //Disable cache
        jQuery.ajaxSetup({ cache: false });
        //Load grid
        $("#dataGrid").datagrid({
            url:'/device/camera/searchList',
            method:'POST',
            toolbar:'#toolbar',
            pagination:true,
            collapsible:true,
            title:"相机信息列表",
            rownumbers:true,
            queryParams:{userrole:1},
            loadFilter:function(data){
              //if data is wrong or failed, show error message
              if(!data.success){
                $.messager.show({
                        title: '提示<span style="color:red;">!</span>',
                          msg: "<div style='text-align:center;margin-top:10px;'>"+data.msg+"</div>",
                          style:{
                          right:'',
                          top:document.body.scrollTop+document.documentElement.scrollTop,
                          bottom:''
                        }
                      });
                return {
                  page:1,
                  total:0,
                  rowsCount:10,
                  rows:[]
                };
              }else{
                return data;
              }
            },
            singleSelect:true,
            pageSize:10,
            pageList:[10,20,30,40,50],
            columns:[[
                      //{field:'ck', checkbox:true},
                        {field:'serialNumber', title:'相机编号', width:120},
                        {field:'code', title:'人类可读数字编号', width:120},
                        {field:'type', title:'相机型号', width:120},
                        {field:'usedProjects', title:'', width:120},
                        {field:'components', title:'', width:120},
                        {field:'boughtDate', title:'购买日期', width:120},
                        {field:'cost', title:'价值', width:120},
                        {field:'status', title:'状态', width:120},
                        {field:'description', title:'描述', width:120},
                        {field:'projectId', title:'所属项目', width:120},
                        {field:'projectName', title:'所属项目名称', width:120},
                        {field:'productId', title:'所属产品批次ID', width:120},
                        {field:'productItemId', title:'产品个体ID', width:120},
                        {field:'cameraType', title:'拍摄类型', width:120},
                        {field:'localShootInterval', title:'本地存储周期', width:120},
                        {field:'uploadShootInterval', title:'上传服务器周期', width:120},
                        {field:'workingTime', title:'一天中摄像机工作时间', width:120},
                        {field:'localResolution', title:'本地分辨率', width:120},
                        {field:'remoteResolution', title:'上传用分辨率', width:120},
                        {field:'updateTime', title:'最近更新时间', width:120},
                        {field:'startDate', title:'拍摄开始日期', width:120},
                        {field:'endDate', title:'拍摄结束日期', width:120},
                        {field:'uploadPath', title:'图片上传地址', width:120},
                      {field:'_id', title:'编号', hidden:true}
            ]],
            onLoadError: function(msge){
                $.messager.alert('错误信息','服务器连接已断开或服务器内部错误！','error');
            }
        });

      });
/********************************************************Initial the page end*****************************************************/

      /**Do search submit**/
      function submitSearchForm(){
        $('#searchfm').form('submit',{
            onSubmit: function(param){
              if(!$(this).form('validate')){
                return false;
              }
              //Validate the form
              var arrayData = $('#searchfm').serializeArray();
              var i = 0;
              for(; i < arrayData.length; i++) {
                  param[arrayData[i].name] = arrayData[i].value;
              }
              $('#dataGrid').datagrid('load', param);
              return false;
            },
            success: function(resultString){
            }
        });
      }

      //Save or update url
      var url;
      //Open new form
      function newForm(){
          $('#dlg').dialog('open').dialog('setTitle','<%= object_name %>新增');
          $('#fm').form('clear');
          url = '/device/camera/save';
      }
      /**Open edit form **/
      function editForm(){
          var selectedRow = $('#dataGrid').datagrid('getSelections');
          var rowsLength = selectedRow.length;
          if (rowsLength>0){
              $('#dlg').dialog('open').dialog('setTitle','<%= object_name %>修改');
              $('#fm').form('load',selectedRow[0]);
              url = '/device/camera/update';
          }else{
            $.messager.show({    // show error message
                  title: '提示<span style="color:red;">!</span>',
                  msg: "<div style='text-align:center;margin-top:10px;'>请选择要修改的行！</div>",
                  style:{
                  right:'',
                  top:document.body.scrollTop+document.documentElement.scrollTop,
                  bottom:''
                }
              });
          }
      }
      /**Save edit form**/
      function saveForm(){
          $('#fm').form('submit',{
              url: url,
              onSubmit: function(param){
                //Validate the form
                return $(this).form('validate');
              },
              success: function(resultString){
                var result = eval("("+resultString+")");
                  if (!result.success){
                      $.messager.show({
                        title: '提示<span style="color:red;">!</span>',
                          msg: "<div style='text-align:center;margin-top:10px;'>"+result.msg+"</div>",
                          style:{
                          right:'',
                          top:document.body.scrollTop+document.documentElement.scrollTop,
                          bottom:''
                        }
                      });
                  } else {
                      $('#dlg').dialog('close');        // close the dialog
                      $.messager.show({
                        title: '提示',
                          msg: "<div style='text-align:center;margin-top:10px;'>保存成功!</div>",
                          style:{
                          right:'',
                          top:document.body.scrollTop+document.documentElement.scrollTop,
                          bottom:''
                        }
                      });
                    $('#dataGrid').datagrid('reload');
                  }
              }
          });
      }

      /**Delete item**/
      function deleteSelectedItems(){
          var rows = $('#dataGrid').datagrid('getSelections');
          var rowsLength = rows.length;
          if (rowsLength>0){
              $.messager.confirm('提示信息','确定删除该行？',function(r){
                  if (r){
                    $.post('/device/camera/remove', {_id:rows[0]._id}, function(result){
                          if(result.success){
                              $.messager.show({
                                  title: '提示<span style="color:red;">!</span>',
                                  msg: "<div style='text-align:center;margin-top:10px;'>成功！</div>",
                                  style:{
                                      right:'',
                                      top:document.body.scrollTop+document.documentElement.scrollTop,
                                      bottom:''
                                  }
                              });
                          }else{
                              $.messager.alert('错误信息','服务器连接已断开或服务器内部错误！','error');
                          }
                          $("#dataGrid").datagrid("reload");
                      });
                  }
              });
          }else{
            $.messager.show({    // show error message
                  title: '提示<span style="color:red;">!</span>',
                  msg: "<div style='text-align:center;margin-top:10px;'>请选择要删除的行！</div>",
                  style:{
                  right:'',
                  top:document.body.scrollTop+document.documentElement.scrollTop,
                  bottom:''
                }
              });
          }
      }
    </script>
  </head>

  <body>
      <!--Grid table-->
      <table id="dataGrid">
      </table>
      <div id="toolbar">
        <form id="searchfm" method="post" style="display:inline;">
          设备CPU序列号
          <input id="search_eq_code" name="search_eq_code" required="true" class="easyui-validatebox" />
          状态:
          <input class="easyui-combobox" id="disbale"  data-options="
              panelHeight:'auto',
              valueField: 'value',
              value:'',
              editable:false,
              textField: 'label',
              data: [{
                label: '全部',
                value: ''
              },{
                label: '已启用',
                value: 'false'
              },{
                label: '已禁用',
                value: 'true'
              }]" />
        </form>
        <a href="javascript:void(0)" onclick="submitSearchForm()" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
        <span style="float:right;">
          <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newForm()">新建</a>
          <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editForm()">修改</a>
          <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteSelectedItems()">删除</a>
        </span>
      </div>

      <div id="dlg" class="easyui-dialog" data-options="closed:'true',modal:true,buttons:'#dlg-buttons'">
          <form id="fm" method="post" >
                <div class="fitem">
                    <label>相机编号</label>
                    <input name="serialNumber" id="serialNumber_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>人类可读数字编号</label>
                    <input name="code" id="code_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>相机型号</label>
                    <input name="type" id="type_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label></label>
                    <input name="usedProjects" id="usedProjects_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label></label>
                    <input name="components" id="components_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>购买日期</label>
                    <input name="boughtDate" id="boughtDate_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>价值</label>
                    <input name="cost" id="cost_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>状态</label>
                    <input name="status" id="status_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>描述</label>
                    <input name="description" id="description_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>所属项目</label>
                    <input name="projectId" id="projectId_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>所属项目名称</label>
                    <input name="projectName" id="projectName_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>所属产品批次ID</label>
                    <input name="productId" id="productId_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>产品个体ID</label>
                    <input name="productItemId" id="productItemId_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>拍摄类型</label>
                    <input name="cameraType" id="cameraType_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>本地存储周期</label>
                    <input name="localShootInterval" id="localShootInterval_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>上传服务器周期</label>
                    <input name="uploadShootInterval" id="uploadShootInterval_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>一天中摄像机工作时间</label>
                    <input name="workingTime" id="workingTime_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>本地分辨率</label>
                    <input name="localResolution" id="localResolution_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>上传用分辨率</label>
                    <input name="remoteResolution" id="remoteResolution_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>最近更新时间</label>
                    <input name="updateTime" id="updateTime_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>拍摄开始日期</label>
                    <input name="startDate" id="startDate_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>拍摄结束日期</label>
                    <input name="endDate" id="endDate_input" class="easyui-validatebox" required="true">
                </div>
                <div class="fitem">
                    <label>图片上传地址</label>
                    <input name="uploadPath" id="uploadPath_input" class="easyui-validatebox" required="true">
                </div>
              <input type="hidden" name="_id" id="_id">
          </form>
      </div>
      <div id="dlg-buttons">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveForm()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
    </div>

  </body>
</html>
